<title>Öztürk Hali</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="format-detection" content="telephone=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="author" content="">
<meta name="keywords" content="">
<meta name="description" content="">

<link rel="stylesheet" type="text/css" href="~/Template/ultras-1.0.0/css/normalize.css">
<link rel="stylesheet" type="text/css" href="~/Template/ultras-1.0.0/icomoon/icomoon.css"> 

<script src="~/Template/ultras-1.0.0/js/jquery-1.11.0.min.js"></script>

@* burada title'nın yanındaki logoyu ayarladık *@
<link rel="icon" href="~/Template/ultras-1.0.0/images/ozTurkHali.png" type="image/x-icon">
@* burada title'nın yanındaki logoyu ayarladık *@


@* fontawesome link'ini indirip ekledik *@
<link rel="stylesheet" type="text/css" media="all" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
@*<link href="~/Template/ultras-1.0.0/css/font-awesome.min.css" rel="stylesheet" />*@
@* fontawesome link'ini indirip ekledik *@

<link rel="stylesheet" type="text/css" href="~/Template/ultras-1.0.0/css/vendor.css">
<link rel="stylesheet" type="text/css" href="~/Template/ultras-1.0.0/style.css">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

@* GoogleFonts link'ini indirip ekledik *@
@*<link href="~/Template/ultras-1.0.0/css/css2.css" rel="stylesheet" />*@
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
@* GoogleFonts link'ini indirip ekledik *@


<!-- script
================================================== -->
<script src="~/Template/ultras-1.0.0/js/modernizr.js"></script> 
